<ion-header [translucent]="true">
  <ion-toolbar>
    <app-recuperar-mensaje></app-recuperar-mensaje>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Inicio </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>

      <ion-title>
        {{mensaje}} 
      </ion-title>
      <form [formGroup]='FormMensaje'>
        <ion-item>
          <ion-input formControlName="Mensaje" label="Ingrese el mensaje:" ></ion-input>
        </ion-item>
      </form>

      <ion-button (click)="RecuperarMensaje()"> Enviar Mensaje </ion-button> 
    </ion-card-content>
  </ion-card>






</ion-content>
